ion-slide {
    height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

// // for when images are added to the slides
// ion-image {
//     max-width: 50vh;
//     max-height: 50vh;
//     overflow: hidden;
// }