<ion-header>
  <ion-toolbar>
    <!-- Title : Editior-->
    <ion-title>Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Ideas 
  - May user Fab Icon to Hold Specific tools  
  -->
  <ion-list lines="full">
    
    <ion-item>
      <ion-input require type="text" placeholder="Task" [(ngModel)]="todo.task"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input require type="number" placeholder="Priority" [(ngModel)]="todo.priority"></ion-input>
      </ion-item>
    
  </ion-list>
  <ion-textarea  placeholder="Your Song Lyrics Go Here">


  </ion-textarea>

  <ion-button expand="full" (click)="saveTodo()">Save Todo</ion-button>

</ion-content>
