<ion-header no-border >
    <ion-toolbar no-border class="title-toolbars" color="tertiary">
        <!-- Title -->
        <ion-title color="dark">Compositions 
        </ion-title>
        <ion-buttons slot="start">
                <!-- 'Search' Icon to Toggle Search Bar -->
                <ion-button  ion-button icon-only color="dark">
                    <ion-icon name="search"></ion-icon>
                </ion-button>
        </ion-buttons>
                <ion-buttons slot="end">
                <!-- 'Add' Icon to Create New Composition -->
                <ion-button ion-button icon-only color="dark" href="/editor">
                    <ion-icon name="md-add"></ion-icon>
                </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <!-- Search Bar Appear for Song Search by Name -->
    <!-- <ion-toolbar>
            <ion-searchbar></ion-searchbar>
    </ion-toolbar> -->
</ion-header>

<ion-content>
  <!-- Start of User Songs -->
  <ion-list>
    <!-- If No Compositions have been created, skeleton to be shown -->
    <ng-container *ngIf="!todos || todos.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>


<!-- Composition Cards-->
    <ion-card *ngFor="let item of todos" button [routerLink]="['/editor', item.id]">
      <ion-card-header>
        <ion-list-header no-lines>
            <!-- 'Lock' Icon to Unlock / Lock Compositions  -->
            <ion-card-subtitle start no-lines color="primary">Composition</ion-card-subtitle>
                <ion-icon end name="unlock" color="medium" style="font-size:16px"></ion-icon>
        </ion-list-header>
        <ion-card-title>{{ item.compositionName }}</ion-card-title>
      </ion-card-header>
    <ion-card-content>
        <!-- 'Description of Composition / Audio Recording  -->
        <p>{{ item.compositionDescription }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Sub Heading | Insert Values for Total Songs & Total Audio Recordings -->
  <p class="home-info" style="font-size:14px; text-align: center">5 Compositions. 0 Audio Recordings</p>

  <!-- New Composition Button -->
  <ion-button padding href="/editor" expand="block" style="font-weight:700" color="primary">New Composition</ion-button>

</ion-content>






<!-- <ion-card>
  <ion-card-header>
    <ion-list-header no-lines>
        
        <ion-card-subtitle start no-lines color="primary">Composition</ion-card-subtitle>
            <ion-icon end name="lock" color="medium" style="font-size:16px"></ion-icon>
    </ion-list-header>
    <ion-card-title>A$thetic$</ion-card-title>
  </ion-card-header>
<ion-card-content>
    
    <p>A mellow verse about the new world I have come to find after the passing of my Father</p>
  </ion-card-content>
</ion-card> -->





