<ion-header no-border>
  <ion-toolbar no-border color="tertiary">
      <ion-buttons slot="start">
          <!-- 'Search' Icon to Toggle Search Bar -->
          <!-- <ion-button  ion-button icon-only color="dark">
              <ion-icon name="search"></ion-icon>
          </ion-button> -->
  </ion-buttons>
          <ion-buttons slot="end">
          <!-- 'Add' Icon to Create New Composition -->
          <ion-button ion-button icon-only color="dark" style="font-size: 26px;">
              <ion-icon name="help"></ion-icon>
          </ion-button>
  </ion-buttons>
    <ion-title>Inspiration</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Unsplash Image Feed -->


<ion-content padding>
    
    





</ion-content>
