<ion-tabs>
  <ion-tab tab="profile">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="home">
      <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>
  <ion-tab tab="inspiration">
      <ion-router-outlet name="inspiration"></ion-router-outlet>
    </ion-tab>

  <ion-tab-bar slot="bottom" color="dark">

    <!-- Profile -->
    <ion-tab-button tab="profile" href="/tabs/(profile:profile)">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

    <!-- Your Songs -->
    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="bookmark"></ion-icon>
    </ion-tab-button>

    <!-- Settings -->
    <ion-tab-button tab="inspiration" href="/tabs/(inspiration:inspiration)">
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>

    

  </ion-tab-bar>

</ion-tabs>
