<ion-header>
  <ion-toolbar>
    <!-- Title : Editior-->
    <ion-title>Editor</ion-title>
    <ion-buttons slot="start" >
        <ion-back-button color="dark" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Ideas 
  - May user Fab Icon to Hold Specific tools  
  -->
  <ion-list no-lines>
    
    <ion-item no-lines>
      <ion-input require type="text" placeholder="Composition Name" [(ngModel)]="todo.compositionName"></ion-input>
    </ion-item>
    <ion-item no-lines>
        <ion-input require type="text" placeholder="Description" [(ngModel)]="todo.compositionDescription"></ion-input>
      </ion-item>
    
  </ion-list>
  <ion-textarea  placeholder="Your Song Lyrics Go Here">


  </ion-textarea>

  <ion-button position="bottom" expand="full" (click)="saveTodo()">Save Composition</ion-button>

</ion-content>
