<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- List of Text Items -->
<ion-list>
  <!-- Subscibe to Lyric Pro -->
    <ion-item>
      <ion-label>Upgrade to Lyric Pro</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Themes: COMING SOON</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>About</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
