<ion-header>
  <ion-toolbar>
    <ion-title>New Composition</ion-title>
        <!-- 'Back' Icon to Go Backwards -->
          <ion-buttons slot="start" >
        <ion-back-button color="dark" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm">
 <!-- Name -->
 <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input name="title" ngModel></ion-input>
  </ion-item>
   <!-- Description -->
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input name="description"></ion-input>
  </ion-item>

  


  <!-- Create Composition Button -->
  <ion-button block color="primary" style="font-size:14px" href="/newcomposition" type="submit" padding>Create Composition</ion-button>
</form>
  
  <!-- On Button Click Show Toast with "New Composition / Audio Recording Created"-->




</ion-content>
