<ion-header no-border>
  <ion-toolbar no-border color="tertiary">
    <ion-title>You</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <!-- Profile Header -->

    


  <ion-item-divider>
    </ion-item-divider>
    
    <app-login></app-login>
    
    <ion-item-divider>
        <ion-label>
            Features
        </ion-label>
    </ion-item-divider>

    <!-- Settings Lists -->
    <ion-list>
        <ion-item-group>
            <ion-item-divider color="light"></ion-item-divider>
            <ion-item>Upgrade to Lyric Pro</ion-item>
            <ion-item>Composition Themes</ion-item>
            <ion-item>Night Owl Mode</ion-item>
            <ion-item-divider color="light"></ion-item-divider>
            <ion-item>Settings</ion-item>
            <ion-item>Help</ion-item>
            <ion-item>Privacy Policy</ion-item>
            <ion-item>Terms of Service</ion-item>
          </ion-item-group>
      </ion-list>
</ion-content>
