<ion-header no-border >
    <ion-toolbar no-border class="title-toolbars" color="tertiary" style="margin-bottom:0; padding-bottom:0;">
        <!-- Title -->
        <!-- <ion-title color="dark" class="page-title">Composition</ion-title> -->
                <ion-buttons slot="end">
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    
  <!-- Profile Header -->
  <h1 padding color="dark" class="page-title">Hello,</h1>
  <h1 padding color="dark" class="page-title">Anonymous<ion-icon style="padding-bottom: 0; margin-bottom: -8px; padding-left: 5px;" name="md-glasses"></ion-icon></h1>

  
  <!-- <ion-item-divider>
    </ion-item-divider> -->
    
    <app-login></app-login>

    <!-- Settings Lists -->
    <ion-list>
        <ion-item-group>
            <ion-item-divider color="light"></ion-item-divider>
            <ion-item detail>Upgrade to Lyric Pro</ion-item>
            <ion-item>Achievements</ion-item>
            <ion-item no-line>Night Owl Mode</ion-item>
            <ion-item-divider color="light"></ion-item-divider>
            <ion-item>Settings</ion-item>
            <ion-item>Help</ion-item>
            <ion-item>Privacy Policy</ion-item>
            <ion-item>Terms of Service</ion-item>
          </ion-item-group>
      </ion-list>
</ion-content>
