p {
    margin: 0;
}

h1.page-title {
    font-size: 35px;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 0px;
    // margin-bottom: 0px;
    padding-bottom: 0px;
}


ion-card-content {
    padding-top: 0px;
}
ion-card-title {
    font-size: 22px;
}

p.page-description {
    font-size: 16px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #c2c2c2;
}


ion-list-header {
    padding-left: 0;
    margin-top: 0;
}
ion-list {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

ion-card-header {
    padding-top: 10px;
    
}

.fake-skeleton {
    width: 60%;
}





