<ion-header no-line>
    <ion-toolbar>
        <!-- Title -->
        <ion-title>Your Compositions</ion-title>
        <ion-buttons slot="start">
                <!-- 'Search' Icon to Toggle Search Bar -->
                <ion-button start ion-button icon-only color="dark">
                    <ion-icon name="search"></ion-icon>
                </ion-button>
                
                <!-- 'Add' Icon to Create New Composition -->
                <ion-button slot="end" ion-button icon-only color="dark" href="/newcomposition">
                    <ion-icon name="md-add"></ion-icon>
                </ion-button>
          </ion-buttons>
    </ion-toolbar>
    <!-- Search Bar Appear for Song Search by Name -->
    <!-- <ion-toolbar>
            <ion-searchbar></ion-searchbar>
    </ion-toolbar> -->
</ion-header>

<ion-content padding>

    <!-- Sub Heading | Insert Values for Total Songs & Total Audio Recordings -->
    <p color="light" style="font-size:12px; text-align: center">5 Compositions. 0 Audio Recordings</p>

  <!-- Start of User Songs -->

  <ion-card>
      <!-- <ion-img src="/assets/myImg.png"></ion-img> -->
      <ion-card-header>
          <ion-card-title style="font-size:20px">New World</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>The content for this card</p>
      </ion-card-content>
  </ion-card>

  <ion-card>
      <!-- <ion-img src="/assets/myImg.png"></ion-img> -->
      <ion-card-header>
          <ion-card-title style="font-size:20px">Love Lavish</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>The content for this card</p>
      </ion-card-content>
  </ion-card>

  <ion-card>
      <!-- <ion-img src="/assets/myImg.png"></ion-img> -->
      <ion-card-header>
          <ion-card-title style="font-size:20px">Explored</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>The content for this card</p>
      </ion-card-content>
  </ion-card>

  <ion-card>
      <!-- <ion-img src="/assets/myImg.png"></ion-img> -->
      <ion-card-header>
          <ion-card-title style="font-size:20px">Ae$thetic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>The content for this card</p>
      </ion-card-content>
  </ion-card>

  <ion-button block color="light" style="font-size:14px" href="/newcomposition" padding>New Composition</ion-button>


</ion-content>

